body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.65;
    min-width: 375px;
    overflow-x: hidden;
}

p {
    @apply text-md;
    @apply text-gray;
    @apply md:text-lg;
}

.container {
    @apply max-w-6xl;
    @apply mx-auto;
    @apply px-4;
    @apply md:px-8;
}

.hero-shape {
    @apply relative;
    @apply max-w-sm;
    @apply lg:max-w-xl;
    @apply mx-auto;
    @apply mb-16;
    @apply md:mb-0;

    &::before {
        content: "";
        display: block;
        width: 31.25rem;
        height: 12.5rem;
        background-color: theme('colors.blue');
        border-radius: 6.25rem 0 0 6.25rem;
        position: absolute;
        bottom: -1rem;
        left: 35%;
        z-index: 0;

        @media (min-width: 1024px) {
            width: 94rem;
            height: 22rem;
            border-radius: 22rem 0 0 22rem;
            bottom: -2rem;
        }
    }

    img {
        @apply relative;
        z-index: 1;

        @media (min-width: 768px) {
            min-width: 125%;
        }
    }
}

.title {
    @apply text-3xl;
    @apply text-dark;
    @apply font-medium;
    @apply leading-snug;
    @apply mb-4;
    @apply md:text-5xl;
    @apply md:mb-6;
}

.title-sub {
    @apply text-4xl;
    @apply text-dark;
    @apply font-medium;
    @apply leading-snug;
    @apply mt-6;
    @apply mb-3;
    @apply md:mt-0;
    @apply md:mb-4;
}

.btn {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply px-4;
    @apply md:px-6;
    @apply py-3;
    @apply border-2;
    @apply border-transparent;
    @apply text-sm;
    @apply font-medium;
    @apply rounded;
    @apply transition;
}

.btn-primary {
    @apply text-white;
    @apply bg-blue;

    &:hover,
    &:focus {
        @apply text-blue;
        @apply bg-white;
        @apply border-blue;
    }
}

.btn-secondary {
    @apply text-dark;
    @apply bg-gray;
    @apply bg-opacity-10;
    
    &:hover,
    &:focus {
        @apply bg-white;
        @apply border-dark;
    }
}

.btn-shadow {
    box-shadow: 0 6px 10px -5px rgb(83 104 213 / 40%);
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}
