body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.65;
    min-width: 375px;
}

p {
    @apply text-md;
    @apply text-gray;
    @apply md:text-lg;
}

.hero-shape {
    position: relative;

    @media (min-width: 768px) {
        position: static;
    }

    &::before {
        content: "";
        display: block;
        width: 87%;
        height: 81%;
        background-color: theme('colors.blue');
        border-radius: 35% 0% 0% 35%/50% 0% 0% 50%;
        position: absolute;
        bottom: -8px;
        right: -12px;
        z-index: 0;

        @media (min-width: 768px) {
            width: 36%;
            height: 50%;
            bottom: 15%;
            border-radius: 40% 0% 0% 40%/50% 0% 0% 50%;
        }

        @media (min-width: 1024px) {
            width: 38%;
            height: 57%;
            bottom: 8%;
            border-radius: 30% 0% 0% 30%/50% 0% 0% 50%;
        }
    }

    img {
        position: relative;
        z-index: 1;
    }
}

.title {
    @apply text-3xl;
    @apply text-dark;
    @apply font-medium;
    @apply leading-snug;
    @apply mb-4;
    @apply md:text-5xl;
    @apply md:mb-6;
}

.title-sub {
    @apply text-4xl;
    @apply text-dark;
    @apply font-medium;
    @apply leading-snug;
    @apply mt-6;
    @apply mb-3;
    @apply md:mt-0;
    @apply md:mb-4;
}

.btn {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply px-4;
    @apply md:px-6;
    @apply py-3;
    @apply border-2;
    @apply border-transparent;
    @apply text-sm;
    @apply font-medium;
    @apply rounded;
}

.btn-primary {
    @apply text-white;
    @apply bg-blue;

    &:hover,
    &:focus {
        @apply text-blue;
        @apply bg-white;
        @apply border-blue;
    }
}

.btn-secondary {
    @apply text-dark;
    @apply bg-gray;
    @apply bg-opacity-10;
    
    &:hover,
    &:focus {
        @apply bg-white;
        @apply border-dark;
    }
}

.btn-shadow {
    box-shadow: 0 6px 10px -5px rgb(83 104 213 / 40%);
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}
