body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    line-height: 1.65;
    min-width: 375px;
    overflow-x: hidden;
}

p {
    @apply text-md;
    @apply text-gray;
    @apply md:text-lg;
}

.container {
    @apply max-w-6xl;
    @apply mx-auto;
    @apply px-4;
    @apply md:px-8;
}

.hero-shape--mobile {
    background: url("/images/bg-shape-right.svg") no-repeat transparent;
    background-size: 90%;
    background-position: right -40px top 54%;

    @media (min-width: 420px) {
        background-size: 370px;
        background-position: right -40px top 54%;        
    }

    @media (min-width: 768px) {
        background: none;
    }
}

.hero-shape--desktop {
    @media (min-width: 768px) {
        background: url("/images/bg-shape-right.svg") no-repeat transparent;
        background-size: 45%;
        background-position: right -40px top 64%;
    }

    @media (min-width: 1024px) {
        background-size: 45%;
        background-position: right -140px top 82%;
    }
}

.hero-image {
    @apply mx-auto;
    @apply max-w-sm;
    @apply sm:max-w-md;
    @apply md:max-w-none;

    img {
        @media (min-width: 1024px) {
            min-width: 660px;
            height: auto;
        }
    }
}

.title {
    @apply text-3xl;
    @apply text-dark;
    @apply font-medium;
    @apply leading-snug;
    @apply mb-4;
    @apply md:text-5xl;
    @apply md:mb-6;
}

.title-sub {
    @apply text-2xl;
    @apply font-medium;
    @apply leading-snug;
    @apply mb-4;
    @apply md:text-4xl;
    @apply md:mb-6;
}

.btn {
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply px-4;
    @apply md:px-6;
    @apply py-3;
    @apply border-2;
    @apply border-transparent;
    @apply text-sm;
    @apply font-medium;
    @apply rounded;
    @apply transition;
}

.btn-primary {
    @apply text-white;
    @apply bg-blue;

    &:hover,
    &:focus {
        @apply text-blue;
        @apply bg-white;
        @apply border-blue;
    }
}

.btn-tertiary {
    @apply text-white;
    @apply bg-red;

    &:hover,
    &:focus {
        @apply text-red;
        @apply bg-white;
        @apply border-red;
    }
}

.btn-secondary {
    @apply text-dark;
    @apply bg-gray;
    @apply bg-opacity-10;
    
    &:hover,
    &:focus {
        @apply bg-white;
        @apply border-dark;
    }
}

.tab-group {
    @apply border-b;
    @apply border-gray;
    @apply border-opacity-30;
    @apply md:flex;
    @apply md:justify-center;
}

.tab-item {
    @apply border-t;
    @apply border-gray;
    @apply border-opacity-30;
    @apply md:border-t-0;
    @apply md:flex-1;

    button {
        @apply text-gray;
        @apply transition;
        @apply relative;

        &::after {
            content: '';
            @apply block;
            width: 44%;
            height: 4px;
            @apply absolute;
            @apply bottom-0;
            left: 50%;
            transform: translateX(-50%);
            @apply transition;

            @media (min-width: 768px) {
                left: 0;
                width: 100%;
                transform: none;
            }
        }
    }

    button:hover,
    button:focus {
        @apply text-red;
    }

    > .active {
        @apply text-black;

        &::after {
            background-color: theme('colors.red');
        }
    }
}

.tab-content {
    @apply py-16;
}

.tab-row {
    @media (min-width: 768px) {
        min-height: 452px;
    }

    @media (min-width: 1024px) {
        min-height: 500px;
    }
}

.tab-shape--mobile {
    @apply pb-20;
    background: url("/images/bg-shape-left.svg") no-repeat transparent;
    background-size: 102%;
    background-position: left -4rem bottom 2.5rem;

    @media (min-width: 420px) {
        background-size: 425px;
    }

    @media (min-width: 640px) {
        background-size: 494px;
    }

    @media (min-width: 768px) {
        background: none;
    }
}

.tab-shape--desktop {
    @media (min-width: 768px) {
        background: url("/images/bg-shape-left.svg") no-repeat transparent;
        background-size: 42%;
        background-position: 0% 60%;
    }
}

.tab-image {
    @apply mx-auto;
    @apply px-2;
    @apply sm:max-w-md;
    @apply md:max-w-none;

    @media (min-width: 1024px) {
        @apply ml-0;
        @apply px-0;
    }

    img {
        @apply w-full;
        @apply mx-auto;
    }
}

.tab-image-1 { max-width: 440px; }
.tab-image-2 { max-width: 390px; }
.tab-image-3 { max-width: 360px; }

@media (min-width: 1024px) {
    .tab-image-1,
    .tab-image-2,
    .tab-image-3 {
        @apply max-w-none;
    }
}

.card-group {
    @apply py-16;
    @apply pb-16;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply md:flex-row;
    @apply md:items-start;
    @apply md:justify-center;
    @apply md:space-x-6;
    @apply lg:space-x-8;
}

.card {
    width: 280px;
    height: 370px;
    @apply rounded-2xl;
    @apply text-center;
    @apply mb-12;
    @apply flex;
    @apply flex-col;
    box-shadow: 0 8px 12px -2px rgb(83 104 213 / 25%);
}

@media (min-width: 768px) {
    .card:nth-child(2) {
        @apply mt-10;
    }
    .card:nth-child(3) {
        @apply mt-20;
    }
}

.card-body {
    @apply p-6;
    @apply flex-1;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
}

.card-footer {
    @apply px-6;
    @apply py-7;
}

.card-footer {
    background: url('/images/bg-dots.svg') repeat-x top left transparent;
}

.faq-item {
    @apply relative;
    @apply border-b;
    @apply border-gray;
    @apply border-opacity-30;
}

.faq-question {
    @apply flex;
    @apply items-center;
    @apply justify-between;

    span {
        @apply flex-1;
    }
}

.faq-button {
    @apply text-md;
    @apply leading-normal;
    @apply w-full;
    @apply py-5;
    @apply text-left;
    @apply md:text-lg;
}

.faq-answer {
    @apply pt-3;
    @apply pb-6;

    p {
        @apply leading-loose;
    }
}

[aria-invalid="true"] {
    &,
    &:focus {
        @apply border-red;
    }
}

.form-msg {
    @apply text-sm;
    @apply p-0.5;
    @apply pt-2;
    @apply bg-red;
    @apply -mt-2;
    @apply rounded-br;
    @apply rounded-bl;
    @apply border-red;
}

.email-input {
    @apply relative;
}

.msg-wrapper {
    @apply relative;
    @apply flex-1;
}

.btn-form {
    height: 50px;
}

.btn-shadow {
    box-shadow: 0 6px 10px -5px rgb(83 104 213 / 40%);
}

.tracking-ultra {
    letter-spacing: 0.3em;
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}
