.tab-group {
    @apply border-b;
    @apply border-gray;
    @apply border-opacity-30;
    @apply md:flex;
    @apply md:justify-center;
}

.tab-item {
    @apply border-t;
    @apply border-gray;
    @apply border-opacity-30;
    @apply md:border-t-0;
    @apply md:flex-1;

    button {
        @apply text-gray;
        @apply transition;
        @apply relative;

        &::after {
            content: '';
            @apply block;
            width: 44%;
            height: 4px;
            @apply absolute;
            @apply bottom-0;
            left: 50%;
            transform: translateX(-50%);
            @apply transition;

            @media (min-width: 768px) {
                left: 0;
                width: 100%;
                transform: none;
            }
        }
    }

    button:hover,
    button:focus {
        @apply text-red;
    }

    > .active {
        @apply text-black;

        &::after {
            background-color: theme('colors.red');
        }
    }
}

.tab-content {
    @apply py-16;
}

.tab-row {
    @media (min-width: 768px) {
        min-height: 452px;
    }

    @media (min-width: 1024px) {
        min-height: 500px;
    }
}

.tab-shape--mobile {
    @apply pb-20;
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: left -4rem bottom 2.5rem;

    @media (min-width: 420px) {
        background-size: 425px;
    }

    @media (min-width: 640px) {
        background-size: 494px;
    }

    @media (min-width: 768px) {
        background-image: none !important;
    }
}

.tab-shape--desktop {
    background-repeat: no-repeat;

    @media (min-width: 768px) {
        background-size: 42%;
        background-position: 0% 60%;
    }
}

.tab-image {
    @apply mx-auto;
    @apply px-2;
    @apply sm:max-w-md;
    @apply md:max-w-none;

    @media (min-width: 1024px) {
        @apply ml-0;
        @apply px-0;
    }

    img {
        @apply w-full;
        @apply mx-auto;
    }
}

.tab-image-1 { max-width: 440px; }
.tab-image-2 { max-width: 390px; }
.tab-image-3 { max-width: 360px; }

@media (min-width: 1024px) {
    .tab-image-1,
    .tab-image-2,
    .tab-image-3 {
        @apply max-w-none;
    }
}
